
main {
	padding-top: 60px;
	min-height: 100vh;
}

.no-margin {
	margin: 0px !important;
}

.text-center {
	text-align: center;
}

.margin-tb {
	margin: 25px 0px;
}

.max-1000px {
	max-width: 1000px;
}

.header-1 {
	display:flex;
	align-items: center;
	justify-content: space-around;
	margin: 20px 0px;
} 

.ma {
	margin: auto;
}

.fa-angle-left {
	font-size: 40pt;
}

/*
.goback-link {
	position: absolute:
	left: 20px;
}


.super_test {
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color: black !important;
}
*/
