
.descripcion {
	padding: 20px;
	margin: 20px;
	
}

.descripcion-panel {
	margin: 20px;
}

.panel {
	margin: 20px;	
}

.preguntas {
	padding: 20px;
}

.no-subtema {
	text-align: center;
}

.space-between {
	display:flex;
	align-items: center;
	justify-content: space-between;
}

/*
thead th {
	display:flex;
	align-items:center;
	flex-direction: row;
	justify-content: center;
}
*/
