
.descripcion {
	padding: 20px;
	margin: 20px;
	
}

.descripcion-panel {
	margin: 20px;
}

.panel {
	margin: 20px;	
}

.preguntas {
	padding: 20px;
}

.no-subtema {
	text-align: center;
}

.space-between {
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.panel-heading {

	display:flex;
	align-items: center;
	justify-content: space-between;

	
}

.panel-heading .question-buttons {
	padding: 10px;
}

.panel-heading .question-buttons a {
	margin: 10px;
	padding: 10px;
}

.panel-heading .question-buttons a i {
	margin-left: 10px;
}

.modal-footer  {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.modal-footer form {
	margin: 0px 20px !important;
}

/*
thead th {
	display:flex;
	align-items:center;
	flex-direction: row;
	justify-content: center;
}
*/
