
.panel-heading {
	display:flex;
	align-items:center;
	justify-content: space-between;
}

.no-subtema {
	width: 100%;
	text-align: center;
	padding: 20px 0px;
	font-size: 15pt;
}

.modal-footer  {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.modal-footer form {
	margin: 0px 20px !important;
}

/*
.no-margin {
	margin: 0px !important;
}

.dificulty-column {
	display: flex;
	align-items:center;
	justify-content: center;
}
*/
